.search-bar-container{
    height: 60vh;
    width: 100%;
    background-color: #171E18;
    padding: 10% 0%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    &::before{
        content: ""; 
        position: absolute;
        bottom: -1px; 
        width: 100%;
        height: 10vh;
        background: url(../assets/bottom-search-bar-transition.svg);
    }
    h1{
        color: white;
        font-size: 3em;
        font-weight: 700;
    }
    .search-bar{
        width: 40%;
        height: 6.1vh;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        padding: 0% 2%;
        box-sizing: border-box;
        .adress-img{
            height: 3vh;
            width: 6%;
            background: url(../assets/location-icon.svg);
            background-size: 100% 3vh;
        }
        .search-input{
            height: 5.9vh;
            width: 64%;
            font-size: 1.2em;
            border: none;
            outline: none;
            padding: 0;
        }
        .search-button{
            width: 30%;
            height: 4vh;
            border-radius: 100px;
            border: none;
            background-color: #171E18;
            color: #f8f7f7;
            font-size: 1.1em;
            font-family: inherit;
        }
    }





    .categories-container{
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .category{
            height: 15vh;
            width: 15%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            .category-name{
                color: white;
                font-size: 1.5em;
                font-weight: 700;
            }
            .image-background{
                height: 14vh;
                width: 100%;
                background-size: 100% 14vh;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 5%;
                box-sizing: border-box;
                background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M821.5 703Q734 906 517 876.5t-326-203q-109-173.5-7-359T507.5 116Q729 103 819 301.5t2.5 401.5Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%23fff%22 d=%22M821.5 703Q734 906 517 876.5t-326-203q-109-173.5-7-359T507.5 116Q729 103 819 301.5t2.5 401.5Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
               .category-icon{
                    height: 4vh;
                    width: 4vh;
                }
            }
        }
    }

}

